{% extends 'base.html' %}
{% load static %}

{% block section %}
    <h2>{{ object.nombre }}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
<div class="row well">
        {% for p in object.medicamento_set.all %}
            <div class="col-md-4 well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.nombre }}</h3>
                    </div>
                    <div class="panel-body">
                        <a href="{% url 'medicamento-detail' p.id %}">
                            <img src="{% static p.medicamento.url %}" style="width:200px;height:200px;"/>
                        </a>
                        
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
<div>
    <table border="1px">
        <tr>
                           
          <a href="{% url 'categoria-update' object.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                
          <a href="{% url 'categoria-delete' object.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a> 
               
        </tr> 
    </table>
</div>
{% endblock maincontent %} 