{% extends 'base.html' %}

{% load static %}

{% block section %}
    <h2>Venta</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="row well">
        {% for p in object_list.all %}
            <div class="col-md-4 well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table table-hover ">
                              <tbody> 
                                     <tr class="success">
                                          <td><strong>Valor:</strong></td>
                                             <td>{{ p.valor }} </td> 
                                     </tr>
                                     <tr class="success">
                                           <td><strong>Cantidad:</strong></td>
                                                <td>{{ p.cantidad }}</td>                              
                                     </tr>
                                     <tr class="success">
                                           <td><strong>Medicamento:</strong> </td>
                                            <td>{{ p.medicamento}}</td>                  
                                     </tr>   
                                     <tr class="success">
                                            <td><strong>Cliente:</strong> </td>
                                             <td>{{ p.cliente}}</td>                  
                                      </tr>            
                                </tr>                         
                              </tbody>
                                    <div class="panel-footer">
                                        {% if p.comment %}
                                            {{ p.comment }}
                                        {% else %}
                                           <a href="{% url "venta-update" p.id %}">editar</a>
                                        {% endif %}
                                    </div>
                            </table>                                 
                    </div>
                    
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="http://127.0.0.1:8000/farmacia" class="btn-succes">Atras</a>

{% endblock maincontent %}