
{% load i18n %}

<h1><span><center>{% block title %}{% trans "Reset password" %}{% endblock %}</center></span></h1>

<br>

{% block content %}
<center>

        <p>
            {% blocktrans %}
            ¿Olvidaste tu contraseña? Ingrese su correo electrónico en el siguiente formulario y le enviaremos instrucciones para crear uno nuevo.
            {% endblocktrans %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-secondary btn-lg" value="{% trans 'Reset password' %}" />
<center>
        <br>
        <a class="btn btn-outline-success"  href="{% url 'auth_login' %}">volver</a>
</center>



{% endblock %}


{# This is used by django.contrib.auth #}
